services:
  traefik:
    image: traefik:v3.2
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
          - TZ=Asia/Qyzylorda
    networks:
      - proxy
    ports:
      - "80:80"  # Expose web entry point
      - "443:443"  # Expose dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  
      - /etc/localtime:/etc/localtime:ro
      - ./traefik.yml:/traefik.yml:ro
      - ./acme.json:/acme.json:rw
      - ./logs/traefik.log:/logs/traefik.log
      - ./logs/access.log:/logs/access.log
    labels:
      - "traefik.enable=true"  
      - "treafik.http.routers.traefik.entrypoint=http"
      - "traefik.http.routers.traefik.rule=Host(`$TRAEFIKHOST`)"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
networks:
  proxy:
    external: true
