services:
  traefik:
    image: traefik:v3.2
    env_file: ".env"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
          - TZ=Asia/Qyzylorda
    networks:
      - proxy
    ports:
      - "80:80"  # Expose web entry point
      - "443:443"  # Expose dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  
      - /etc/localtime:/etc/localtime:ro
      - ./traefik.yml:/traefik.yml:ro
      - ./acme.json:/acme.json:rw
      - ./logs/traefik.log:/logs/traefik.log
      - ./logs/access.log:/logs/access.log
    labels:
      - "traefik.enable=true"  
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.api.rule=Host(`$TRAEFIKHOST`)"
      - "traefik.http.routers.api.service=api@internal"     
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"

networks:
  proxy:
