api:
  dashboard: true # Optional can be disabled
  debug: true # Optional can be Enabled if needed for troubleshooting 
entryPoints:
  http:
    address: ":80"
    http:
     redirections:
       entryPoint:
         to: https
         scheme: https
  https:
    address: ":443"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
network: proxy # Optional; Only use the "proxy" Docker network, even if containers are on multiple networks.
certificatesResolvers:
  letsencrypt:
    acme:
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      email: m.glushchenko@office.hoster.kz
      storage: acme.json
      tlsChallenge: {}
log:
  filePath: "logs/traefik.log"
accessLog: 
  filePath: "logs/access.log"

